# Number (int datatype and Float datatype)

In [1]:
a = 5

In [2]:
a

5

In [3]:
a = 10

In [4]:
a

10

In [5]:
type(a)

int

In [6]:
a = 3.1

type() is used to check the type of data.

In [7]:
type(a)

float

In [8]:
int = 4

In [9]:
int

4

In [10]:
my_income = 100

tax_rate=0.1

my_tax = my_income* tax_rate

In [11]:
my_tax

10.0

# String DataType

In [12]:
'Hello'

'Hello'

In [13]:
"World"

'World'

In [14]:
'Hello world'

'Hello world'

In [15]:
"I'm coder."

"I'm coder."

In [16]:
print("Hello")

Hello

In [17]:
print('hello world')

hello world

In [18]:
print('hello \nworld')

hello
world

In [19]:
len('hello')

5

In [20]:
len('I am hungry')

11

In [21]:
mystring = "Hello World"

In [22]:
mystring

'Hello World'

In [23]:
mystring[0]

'H'

In [24]:
mystring[8]

'r'

In [25]:
mystring[9]

'l'

In [26]:
mystring[-2]

'l'

In [27]:
mystring = 'abcdefghijk'

In [28]:
mystring

'abcdefghijk'

In [29]:
mystring[2:]

'cdefghijk'

In [30]:
mystring[:2]

'ab'

In [31]:
mystring[3:6]

'def'

In [32]:
mystring[1:3]

'bc'

In [33]:
mystring[::]

'abcdefghijk'

In [34]:
mystring[::2]

'acegik'

In [35]:
mystring[::3]

'adgj'

In [36]:
mystring[2:7:2]

'ceg'

Can be used to reverse the string. tricky question can be asked in interviews

In [37]:
mystring[::-1]

'kjihgfedcba'

# # String Immutability

In [38]:
name = "Sam"

In [39]:
last_letters = name[1:]

In [40]:
last_letters

'am'

In [41]:
'P'+last_letters

'Pam'

In [42]:
x = 'Hello World'

In [43]:
x

'Hello World'

In [44]:
x = x +" It is beautiful outside!"

In [45]:
x

'Hello World It is beautiful outside!'

In [46]:
letter = 'z'

In [47]:
letter * 10

'zzzzzzzzzz'

In [48]:
'2' +'3'

'23'

In [49]:
x = 'Hello world'

In [50]:
x.upper()

'HELLO WORLD'

In [51]:
x.lower()

'hello world'

In [52]:
x.split()

['Hello', 'world']

In [53]:
x = 'Hi this is a string'

In [54]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [55]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

# # String interpolation: injecting a string

### Formating with the .format() method 
#### Ex: Str1{}.format('Str2')  
#### O/p: Str1Str2

In [56]:
print('This is string {}'.format('INSERTED'))

This is string INSERTED

In [57]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [58]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [59]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

## Float formatting follows "{value:width.precision f}"

In [60]:
result = 100/777

In [61]:
result

0.1287001287001287

In [62]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [63]:
print("the result was {r:1.5f}".format(r = result))

the result was 0.12870

In [64]:
name = "Jose"

In [65]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [66]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [67]:
name = "Sam"
age = 3

In [68]:
print(f'{name} is {age} years old')

Sam is 3 years old

# List

In [69]:
my_list = [1,2,3]

In [70]:
my_list = ['STRING', 100, 23.2]

In [71]:
len(my_list)

3

In [72]:
mylist = ['one','two','three']

In [73]:
mylist[0]

'one'

In [74]:
mylist[1:]

['two', 'three']

In [75]:
mylist

['one', 'two', 'three']

In [76]:
another_list=['four','five']

In [77]:
newlist = mylist + another_list

In [78]:
newlist

['one', 'two', 'three', 'four', 'five']

In [79]:
newlist[0] = 'ONE ALL CAPS'

In [80]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [81]:
newlist.append('six')

In [82]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [83]:
newlist.pop()

'six'

In [84]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [85]:
popped_item = newlist.pop()

In [86]:
popped_item

'five'

In [87]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four']

In [88]:
newlist.pop(0)

'ONE ALL CAPS'

In [89]:
newlist

['two', 'three', 'four']

In [90]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [91]:
new_list.sort()

In [92]:
new_list

['a', 'b', 'c', 'e', 'x']

In [93]:
num_list.sort()

In [94]:
num_list

[1, 3, 4, 8]

In [95]:
num_list.reverse()

In [96]:
num_list

[8, 4, 3, 1]

# Dictionaries
## Syntax: {'key1':'value1','key2':'value2'}

In [97]:
my_dict = {'key1':'value1','key2':'value2'}

In [98]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [99]:
my_dict['key1']

'value1'

In [100]:
my_dict = {'key1':'value1','key2':'value2','key1':'value3'}

In [101]:
my_dict['key1'] #ovwerwrites with latest value

'value3'

In [102]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.30}

In [103]:
prices_lookup['apple']

2.99

In [104]:
d = {'k1':123,'k2':[0,1,2,3],'k3':{'insideKey':100}}

In [105]:
d['k2']

[0, 1, 2, 3]

In [106]:
d['k3']['insideKey']

100

In [107]:
d['k2'][2]

2

In [108]:
d = {'key1':['a','b','c']}

In [109]:
d

{'key1': ['a', 'b', 'c']}

In [110]:
mylist=d['key1']

In [111]:
mylist

['a', 'b', 'c']

In [112]:
letter = mylist[2]

In [113]:
letter

'c'

In [114]:
letter.upper()

'C'

In [115]:
d['key1'][2].upper()

'C'

In [116]:
d={'k1':100,'k2':200}

In [117]:
d

{'k1': 100, 'k2': 200}

In [118]:
d['k3'] =300

In [119]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [120]:
d['k1']='new value'

In [121]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [122]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [123]:
d.values()

dict_values(['new value', 200, 300])

In [124]:
d.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

# Tuples

In [125]:
t = (1,2,3)

In [126]:
mylist = [1,2,3]

In [127]:
type(t)

tuple

In [128]:
type(mylist)

list

In [129]:
len(t)

3

In [130]:
t = ('one', 2, 3.14)

In [131]:
t

('one', 2, 3.14)

In [132]:
t[0]

'one'

In [133]:
t[-1]

3.14

In [134]:
t = ('a','a','b')

In [135]:
t.count('a')

2

In [136]:
t.index('a')

0

In [137]:
t.index('b')

2

In [138]:
t

('a', 'a', 'b')

In [139]:
mylist

[1, 2, 3]

In [140]:
mylist[0] = 'NEW'

In [141]:
mylist

['NEW', 2, 3]

In [142]:
t[0] = 'NEW' #data integrety, when we want pass the data and we want to ensure that data will never change we can use tuple.

TypeError: 'tuple' object does not support item assignment

# sets

In [143]:
myset = set()

In [144]:
myset

set()

In [145]:
myset.add(1)

In [146]:
myset

{1}

In [147]:
myset.add(2)

In [148]:
myset

{1, 2}

In [149]:
myset.add(2)

In [150]:
myset

{1, 2}

In [151]:
mylist = [1,1,1,2,2,2,3,3,3,3]

In [152]:
set(mylist)

{1, 2, 3}

# Booleans

In [153]:
True

True

In [154]:
False

False

In [155]:
type(True)

bool

In [156]:
1 > 2

False

In [157]:
1 == 1

True

In [158]:
b = None

In [159]:
b

# File basic

In [160]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [161]:
myfile = open('myfile.txt')

In [163]:
myfile = open('oops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'oops_wrong.txt'

In [164]:
pwd

'C:\\Users\\Dell'

In [165]:
myfile = open('myfile.txt')

In [166]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [167]:
myfile.read()

''

In [172]:
myfile.seek(0)

0

In [173]:
contents = myfile.read()

In [174]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [175]:
myfile.seek(0)

0

In [176]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [177]:
myfile.close()

In [178]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [179]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [180]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [181]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

### 'r'       open for reading (default)
### 'w'       open for writing, truncating the file first
### 'a'       open for writing, appending to the end of the file if it exists
### '+'       open a disk file for updating (reading and writing)

In [182]:
%%writefile my_new_file.txt
Hello this is a text file
this is the second line
this is the third line

Writing my_new_file.txt

In [183]:
with open ('my_new_file.txt',mode='r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line

In [184]:
with open ('my_new_file.txt', mode ='a') as f:
    f.write('this is the fourth line')

In [185]:
with open ('my_new_file.txt',mode='r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line
this is the fourth line

In [186]:
with open ('mudhuffu.txt',mode='w') as f:
    f.write('I created this file!')

In [187]:
with open('mudhuffu.txt',mode = 'r') as f:
    print(f.read())

I created this file!

# Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
3 != 3

False

In [6]:
1 < 2

True

In [10]:
2 > 1

True

In [11]:
2 >= 2

True

In [12]:
4 <= 1

False

#  Chaining Comparison operators with logical operator

In [13]:
1 < 2 < 3

True

In [14]:
1 < 2 > 3

False

In [19]:
(1 < 2) and (2 > 3)

False

In [18]:
(1 < 2) or (2 > 3)

True

In [20]:
1 == 1

True

In [21]:
not (1 == 1)

False

In [22]:
 1 != 1

False