# range(start,end,step)

In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):
    print (num)
    #ranges from 0 to 10 but does not include 10

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(5,10):
    print (num)
    #ranges from 5 to 10 but does not include 10

5
6
7
8
9

In [5]:
for num in range(0,10,2):
    print (num)
    #ranges from 0 to 10 but does not include 10 with step size 2

0
2
4
6
8

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

# enumerate

In [9]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [11]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [13]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [14]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [15]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [16]:
for a,b in zip(mylist1,mylist2):
    print(a)
    print(b)

1
a
2
b
3
c

# in Keyword

In [18]:
'x' in [1,2,3]

False

In [19]:
'x' in ['x','y','z']

True

In [20]:
'a' in 'a world'

True

In [21]:
'mykey' in {'mykey':345}

True

In [25]:
d = {'mykey':345}
345 in d.keys()

False

In [26]:
345 in d.values()

True

# min() and max() function

In [28]:
mylist = [10,20,30,40,50,100]

In [29]:
min(mylist)

10

In [30]:
max(mylist)

100

# random() function

In [31]:
from random import shuffle

In [34]:
mylist = list(range(11))

In [35]:
shuffle(mylist)

In [36]:
mylist

[0, 9, 4, 8, 6, 1, 5, 10, 2, 7, 3]

In [40]:
from random import randint

In [41]:
randint(0,100)

35

In [42]:
randint(0,100)

82

# input() function

In [44]:
result = input('Enter a number here: ')

Enter a number here: 50

In [46]:
type(result)

str

In [47]:
float(result)

50.0

In [48]:
int(result)

50

# List comprehensions

In [49]:
mystring = 'hello'

In [50]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [51]:
mylist

['h', 'e', 'l', 'l', 'o']

In [52]:
mylist = [letter for letter in mystring]

mylist

['h', 'e', 'l', 'l', 'o']

In [53]:
mylist =[_ for _ in 'word']

In [54]:
mylist

['w', 'o', 'r', 'd']

In [55]:
mylist = [num for num in range(0,11)]

In [56]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
mylist = [num**2 for num in range(0,11)]

In [58]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [60]:
mylist

[0, 2, 4, 6, 8, 10]

In [61]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

mylist

[0, 4, 16, 36, 64, 100]

In [62]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)*temp +32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [63]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp +32))
    
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [64]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [65]:
mylist =[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [66]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]